In [1]:
import numpy as np
import pandas as pd
import json
from gensim.models import Word2Vec
from gensim.models import KeyedVectors

# Load in the 4 separate json files and combine into 1

In [ ]:
# Dino
with open('C:/Users/mattf/Downloads/dino_keywords.json', 'r') as jf_dino:
    dino_keywords = json.load(jf_dino)

In [ ]:
# Laurence
with open('C:/Users/mattf/Downloads/laurence_keywords.json', 'r') as jf_laurence:
    laurence_keywords = json.load(jf_laurence)

In [ ]:
# Matthew
with open('C:/Users/mattf/Downloads/matthew_keywords.json', 'r') as jf_matthew:
    matthew_keywords = json.load(jf_matthew)

In [ ]:
# Matthijs
with open('C:/Users/mattf/Downloads/matthijs_keywords.json', 'r') as jf_matthijs:
    matthijs_keywords = json.load(jf_matthijs)

In [ ]:
# Combine
#print(len(dino_keywords)+len(laurence_keywords)+len(matthew_keywords)+len(matthijs_keywords))
dino_keywords.update(laurence_keywords)
dino_keywords.update(matthew_keywords)
dino_keywords.update(matthijs_keywords)

In [ ]:
# Save
#print(len(dino_keywords))
with open('C:/Users/mattf/Downloads/all_visit_keywords.json', 'w') as jf:
    json.dump(dino_keywords, jf)

In [2]:
# Load back in the complete json file
with open('C:/Users/mattf/Downloads/all_visit_keywords.json', 'r') as jf:
    keywords = json.load(jf)

In [3]:
length = len(keywords)
print(length)

1442046

In [4]:
# Load in the word2vec model
wordvecs = KeyedVectors.load('C:/Users/mattf/Downloads/custom_model.wordvectors', mmap='r').wv

In [5]:
counter = 0

In [6]:
# Method to find average vector of top 10 keywords for each visit
def keywords2vec(keywords, weights):
    '''
    input: equal sized arrays of the keywords and their respective weights
    output: weighted average of the keywords' vectors
    '''
    global counter
    meaning_vec = np.zeros(100)
    for keyword, weight in zip(keywords, weights):
        word_vec = wordvecs[keyword]
        meaning_vec += (word_vec * weight)
    if sum(weights) != 0:
        meaning_vec /= sum(weights)
    else:
        counter += 1
    
    
    return meaning_vec

In [7]:
def calculatePercentComplete(decimal_complete):
    return round(decimal_complete*100)

In [8]:
def get_meanings(keywords_):
    visit_meanings = {}
    i = 1
    previous_percent = -1
    for visit_id, keywords_weights in keywords_.items():
        visit_meanings[visit_id] = keywords2vec(keywords_weights.keys(), keywords_weights.values())
        percent = calculatePercentComplete(i/length)
        if percent != previous_percent:
            print(f"{percent}% done...")
            previous_percent = percent
        i += 1
    print("DONE!")
    return visit_meanings

In [9]:
meanings = get_meanings(keywords)

0% done...
1% done...
2% done...
3% done...
4% done...
5% done...
6% done...
7% done...
8% done...
9% done...
10% done...
11% done...
12% done...
13% done...
14% done...
15% done...
16% done...
17% done...
18% done...
19% done...
20% done...
21% done...
22% done...
23% done...
24% done...
25% done...
26% done...
27% done...
28% done...
29% done...
30% done...
31% done...
32% done...
33% done...
34% done...
35% done...
36% done...
37% done...
38% done...
39% done...
40% done...
41% done...
42% done...
43% done...
44% done...
45% done...
46% done...
47% done...
48% done...
49% done...
50% done...
51% done...
52% done...
53% done...
54% done...
55% done...
56% done...
57% done...
58% done...
59% done...
60% done...
61% done...
62% done...
63% done...
64% done...
65% done...
66% done...
67% done...
68% done...
69% done...
70% done...
71% done...
72% done...
73% done...
74% done...
75% done...
76% done...
77% done...
78% done...
79% done...
80% done...
81% done...
82% done...
83% done...
84% done...
85% done...
86% done...
87% done...
88% done...
89% done...
90% done...
91% done...
92% done...
93% done...
94% done...
95% done...
96% done...
97% done...
98% done...
99% done...
100% done...
DONE!

In [10]:
keys_to_remove = []
for key, vec in meanings.items():
    if sum(vec) == 0:
        keys_to_remove.append(key)

for key in keys_to_remove:
    del meanings[key]

In [11]:
new_length = length - counter
print(new_length)

1438474

In [12]:
print(len(meanings))

1438474

In [13]:
meaning_list = []
for vec in meanings.values():
    meaning_list.append(vec.tolist())

In [14]:
print(type(meaning_list[0]))

<class 'list'>

In [15]:
df = pd.DataFrame()

In [16]:
df['visit_id'] = meanings.keys()

In [17]:
df['meaning_vectors'] = meaning_list

In [18]:
df

            visit_id                                    meaning_vectors
0               0[1]  [-1.0013970414243027, 0.10410662986918126, -0....
1               5[1]  [-0.22001658113151915, -2.2507345794274003, -0...
2               9[1]  [1.597802667104453, -1.3318458039597452, -1.78...
3              11[1]  [-0.08318374597228116, -0.8729878666888199, 0....
4              12[4]  [-2.879218311253632, -1.2799126645257008, 1.45...
...              ...                                                ...
1438469   3225280[4]  [-0.4230218508741044, -0.5701299575644465, -0....
1438470   3225288[1]  [-1.0013952444434233, 0.10410391425423672, -0....
1438471   3225289[1]  [0.05429920975746043, -0.5528191649698502, -0....
1438472  3225293[14]  [-2.990184207726811, -1.079842092991908, 1.132...
1438473   3225294[1]  [-2.2760482229023986, -1.112274723572677, 0.87...

[1438474 rows x 2 columns]

In [117]:
print(keywords['0[1]'])

{'samenstellen': 1.0, 'samenvatting': 0.827525233542248, 'kiezen': 0.7723737391369604, 'ineens': 0.6123716137701762, 'deeltijdpensioen': 0.5929520285530497, 'loonheffingskorting': 0.5611539441798471, 'aanpassen': 0.53955965829896, 'tijdelijk': 0.4865041594637931, 'pensioenleeftijd': 0.48519226173782226, 'bedrag': 0.46629031115610226}

In [119]:
print(wordvecs.most_similar(meanings['0[1]'], topn=1)[0][0])

samenstellen

In [19]:
meaning_words = []
for index, meaning_vec in enumerate(meanings.values()):
    meaning_words.append(wordvecs.most_similar(meaning_vec, topn=1)[0][0])
    if index % 10000 == 0:
        print(f"{index} complete...")
        
print("DONE!!!")

0 complete...
10000 complete...
20000 complete...
30000 complete...
40000 complete...
50000 complete...
60000 complete...
70000 complete...
80000 complete...
90000 complete...
100000 complete...
110000 complete...
120000 complete...
130000 complete...
140000 complete...
150000 complete...
160000 complete...
170000 complete...
180000 complete...
190000 complete...
200000 complete...
210000 complete...
220000 complete...
230000 complete...
240000 complete...
250000 complete...
260000 complete...
270000 complete...
280000 complete...
290000 complete...
300000 complete...
310000 complete...
320000 complete...
330000 complete...
340000 complete...
350000 complete...
360000 complete...
370000 complete...
380000 complete...
390000 complete...
400000 complete...
410000 complete...
420000 complete...
430000 complete...
440000 complete...
450000 complete...
460000 complete...
470000 complete...
480000 complete...
490000 complete...
500000 complete...
510000 complete...
520000 complete...
530000 complete...
540000 complete...
550000 complete...
560000 complete...
570000 complete...
580000 complete...
590000 complete...
600000 complete...
610000 complete...
620000 complete...
630000 complete...
640000 complete...
650000 complete...
660000 complete...
670000 complete...
680000 complete...
690000 complete...
700000 complete...
710000 complete...
720000 complete...
730000 complete...
740000 complete...
750000 complete...
760000 complete...
770000 complete...
780000 complete...
790000 complete...
800000 complete...
810000 complete...
820000 complete...
830000 complete...
840000 complete...
850000 complete...
860000 complete...
870000 complete...
880000 complete...
890000 complete...
900000 complete...
910000 complete...
920000 complete...
930000 complete...
940000 complete...
950000 complete...
960000 complete...
970000 complete...
980000 complete...
990000 complete...
1000000 complete...
1010000 complete...
1020000 complete...
1030000 complete...
1040000 complete...
1050000 complete...
1060000 complete...
1070000 complete...
1080000 complete...
1090000 complete...
1100000 complete...
1110000 complete...
1120000 complete...
1130000 complete...
1140000 complete...
1150000 complete...
1160000 complete...
1170000 complete...
1180000 complete...
1190000 complete...
1200000 complete...
1210000 complete...
1220000 complete...
1230000 complete...
1240000 complete...
1250000 complete...
1260000 complete...
1270000 complete...
1280000 complete...
1290000 complete...
1300000 complete...
1310000 complete...
1320000 complete...
1330000 complete...
1340000 complete...
1350000 complete...
1360000 complete...
1370000 complete...
1380000 complete...
1390000 complete...
1400000 complete...
1410000 complete...
1420000 complete...
1430000 complete...
DONE!!!

In [123]:
print(meaning_words[:100])

['samenstellen', 'sessie', 'academisch', 'diensttijd', 'berichten', 'belasting', 'inzicht', 'berichten', 'sessie', 'academisch', 'berichten', 'academisch', 'pensioen', 'periodes', 'inzicht', 'academisch', 'academisch', 'berichten', 'waardeoverdracht', 'samenstellen', 'academisch', 'sessie', 'sessie', 'berichten', 'sessie', 'loonheffing', 'berichten', 'sessie', 'pensioenopbouw', 'pensioenaangroei', 'berichten', 'academisch', 'academisch', 'sessie', 'berichten', 'berichten', 'pensioenaangroei', 'berichten', 'zvw', 'berichten', 'pensioenaangroei', 'waardeoverdracht', 'sessie', 'berichten', 'berichten', 'berichten', 'berichten', 'uw', 'pensioenpot', 'sessie', 'cms', 'academisch', 'academisch', 'pensioengegevens', 'berichten', 'partner', 'sessie', 'harmen', 'berichten', 'berichten', 'berichten', 'academisch', 'gevonden', 'uitgaven', 'uitgaven', 'berichten', 'pensioenaangroei', 'sessie', 'sessie', 'sessie', 'academisch', 'academisch', 'pensioenaangroei', 'berichten', 'sessie', 'loonheffingskorting', 'sessie', 'ineens', 'berichten', 'berichten', 'berichten', 'uitloggen', 'berichten', 'berichten', 'berichten', 'verantwoordingsorgaan', 'academisch', 'berichten', 'academisch', 'sessie', 'sessie', 'zvw', 'berichten', 'berichten', 'sessie', 'sessie', 'berichten', 'uitloggen', 'sessie', 'pensioenaangroei']

In [125]:
unique = set()
for word in meaning_words:
    unique.add(word)
    
print(len(meaning_words), len(unique))

1438474 779

In [20]:
df['meaning_words'] = meaning_words

In [21]:
df

,visit_id,meaning_vectors,meaning_words
0,0[1],"[-1.0013970414243027, 0.10410662986918126, -0....",samenstellen
1,5[1],"[-0.22001658113151915, -2.2507345794274003, -0...",sessie
2,9[1],"[1.597802667104453, -1.3318458039597452, -1.78...",academisch
3,11[1],"[-0.08318374597228116, -0.8729878666888199, 0....",diensttijd
4,12[4],"[-2.879218311253632, -1.2799126645257008, 1.45...",berichten
...,...,...,...
1438469,3225280[4],"[-0.4230218508741044, -0.5701299575644465, -0....",samenstellen
1438470,3225288[1],"[-1.0013952444434233, 0.10410391425423672, -0....",samenstellen
1438471,3225289[1],"[0.05429920975746043, -0.5528191649698502, -0....",pensioen
1438472,3225293[14],"[-2.990184207726811, -1.079842092991908, 1.132...",berichten
1438473,3225294[1],"[-2.2760482229023986, -1.112274723572677, 0.87...",berichten

In [128]:
df['meaning_words'].value_counts()

berichten           307969
sessie              258466
pensioenaangroei    135893
academisch          133902
samenstellen         77604
                     ...
manifestatie             1
publieksprijs            1
popup                    1
dienstverlening          1
se                       1
Name: meaning_words, Length: 779, dtype: int64

In [131]:
type(df['meaning_vectors'])

pandas.core.series.Series

In [132]:
df

,visit_id,meaning_vectors,meaning_words
0,0[1],"[-1.0013970414243027, 0.10410662986918126, -0....",samenstellen
1,5[1],"[-0.22001658113151915, -2.2507345794274003, -0...",sessie
2,9[1],"[1.597802667104453, -1.3318458039597452, -1.78...",academisch
3,11[1],"[-0.08318374597228116, -0.8729878666888199, 0....",diensttijd
4,12[4],"[-2.879218311253632, -1.2799126645257008, 1.45...",berichten
...,...,...,...
1438469,3225280[4],"[-0.4230218508741044, -0.5701299575644465, -0....",samenstellen
1438470,3225288[1],"[-1.0013952444434233, 0.10410391425423672, -0....",samenstellen
1438471,3225289[1],"[0.05429920975746043, -0.5528191649698502, -0....",pensioen
1438472,3225293[14],"[-2.990184207726811, -1.079842092991908, 1.132...",berichten
1438473,3225294[1],"[-2.2760482229023986, -1.112274723572677, 0.87...",berichten

In [22]:
df.to_csv('C:/Users/mattf/Downloads/visit_meanings.csv', index=False)