In [1]:
import numpy as np
import pandas as pd
import json
from gensim.models import Word2Vec
from gensim.models import KeyedVectors

# Load in the 4 separate json files and combine into 1

In [2]:
# Dino
with open('C:/Users/01din\Desktop\data APG\keywords_split/dino_keywords.json', 'r') as jf_dino:
    keywords = json.load(jf_dino)

In [4]:
# Load in the word2vec model
wordvecs = KeyedVectors.load('C:/Users/01din\Desktop\data APG\scrape_results/custom_model.wordvectors', mmap='r').wv

In [5]:
length = len(keywords)
counter = 0

In [6]:
# Method to find average vector of top 10 keywords for each visit
def keywords2vec(keywords, weights):
    '''
    input: equal sized arrays of the keywords and their respective weights
    output: weighted average of the keywords' vectors
    '''
    global counter
    meaning_vec = np.zeros(100)
    for keyword, weight in zip(keywords, weights):
        word_vec = wordvecs[keyword]
        meaning_vec += (word_vec * weight)
    if sum(weights) != 0:
        meaning_vec /= sum(weights)
    else:
        counter += 1
    
    
    return meaning_vec

In [7]:
def calculatePercentComplete(decimal_complete):
    return round(decimal_complete*100)

In [8]:
def get_meanings(keywords_):
    visit_meanings = {}
    i = 1
    previous_percent = -1
    for visit_id, keywords_weights in keywords_.items():
        visit_meanings[visit_id] = keywords2vec(keywords_weights.keys(), keywords_weights.values())
        percent = calculatePercentComplete(i/length)
        if percent != previous_percent:
            print(f"{percent}% done...")
            previous_percent = percent
        i += 1
    print("DONE!")
    return visit_meanings

In [9]:
meanings = get_meanings(keywords)

0% done...
1% done...
2% done...
3% done...
4% done...
5% done...
6% done...
7% done...
8% done...
9% done...
10% done...
11% done...
12% done...
13% done...
14% done...
15% done...
16% done...
17% done...
18% done...
19% done...
20% done...
21% done...
22% done...
23% done...
24% done...
25% done...
26% done...
27% done...
28% done...
29% done...
30% done...
31% done...
32% done...
33% done...
34% done...
35% done...
36% done...
37% done...
38% done...
39% done...
40% done...
41% done...
42% done...
43% done...
44% done...
45% done...
46% done...
47% done...
48% done...
49% done...
50% done...
51% done...
52% done...
53% done...
54% done...
55% done...
56% done...
57% done...
58% done...
59% done...
60% done...
61% done...
62% done...
63% done...
64% done...
65% done...
66% done...
67% done...
68% done...
69% done...
70% done...
71% done...
72% done...
73% done...
74% done...
75% done...
76% done...
77% done...
78% done...
79% done...
80% done...
81% done...
82% done...
83% done...
84% done...
85% done...
86% done...
87% done...
88% done...
89% done...
90% done...
91% done...
92% done...
93% done...
94% done...
95% done...
96% done...
97% done...
98% done...
99% done...
100% done...
DONE!

In [10]:
keys_to_remove = []
for key, vec in meanings.items():
    if sum(vec) == 0:
        keys_to_remove.append(key)

for key in keys_to_remove:
    del meanings[key]

In [13]:
new_length = length - counter
print(new_length)

99740

In [14]:
print(len(meanings))

99740

In [15]:
meaning_list = []
for vec in meanings.values():
    meaning_list.append(vec.tolist())

In [16]:
print(type(meaning_list[0]))

<class 'list'>

In [17]:
df = pd.DataFrame()

In [18]:
df['visit_id'] = meanings.keys()

In [19]:
df['meaning_vectors'] = meaning_list

In [20]:
df

         visit_id                                    meaning_vectors
0        33888[1]  [-2.8568043961120506, -1.0411711915039288, 1.0...
1       445844[2]  [-0.37217951978468866, -0.6032857196871719, -0...
2        39476[1]  [0.8520023563924629, -0.74428102453283, -0.308...
3       671874[9]  [0.13135490096017363, -0.8527024690877495, -0....
4       381389[1]  [-0.18643798272444848, -1.4383675231123787, -0...
...           ...                                                ...
99735  675581[16]  [-0.808745111753831, -1.0339257878640125, -0.3...
99736    26049[1]  [-0.49259110292462266, -1.332196389035972, -0....
99737   625944[1]  [-0.41092000328722017, -0.5800180383061275, -0...
99738  533016[22]  [-0.29364888932315314, -1.6183073339440335, -0...
99739   665782[1]  [-3.329542398452759, -1.0657744407653809, 1.58...

[99740 rows x 2 columns]

In [24]:
print(keywords['445844[2]'])

{'aow': 1.0, 'samenstellen': 0.9584364903893892, 'netto': 0.7587906420464642, 'tegelijk': 0.7318806122834185, 'genieten': 0.6745254160739258, 'plan': 0.6695221904184309, 'hetzelfde': 0.5394127247125724, 'aanvragen': 0.47807823907388947, 'bedrag': 0.44690965014187767, 'eerder': 0.4066391422034157}

In [25]:
print(wordvecs.most_similar(meanings['445844[2]'], topn=1)[0][0])

samenstellen

In [26]:
meaning_words = []
for index, meaning_vec in enumerate(meanings.values()):
    meaning_words.append(wordvecs.most_similar(meaning_vec, topn=1)[0][0])
    if index % 10000 == 0:
        print(f"{index} complete...")
        
print("DONE!!!")

0 complete...
10000 complete...
20000 complete...
30000 complete...
40000 complete...
50000 complete...
60000 complete...
70000 complete...
80000 complete...
90000 complete...
DONE!!!

In [27]:
print(meaning_words[:100])

['berichten', 'samenstellen', 'diensttijd', 'meer', 'berichten', 'diensttijd', 'diensttijd', 'academisch', 'academisch', 'academisch', 'diensttijd', 'diensttijd', 'pensioenoverzicht', 'pensioenaangroei', 'diensttijd', 'academisch', 'berichten', 'berichten', 'diensttijd', 'diensttijd', 'berichten', 'berichten', 'verhoging', 'diensttijd', 'pensioenaangroei', 'berichten', 'samenstellen', 'diensttijd', 'pensioenaangroei', 'later', 'berichten', 'samenstellen', 'berichten', 'diensttijd', 'berichten', 'inzicht', 'berichten', 'dekkingsgraad', 'berichten', 'berichten', 'academisch', 'digid', 'pensioenoverzicht', 'pensioenoverzicht', 'diensttijd', 'diensttijd', 'berichten', 'pensioenaangroei', 'academisch', 'berichten', 'berichten', 'berichten', 'inzicht', 'pensioenaangroei', 'berichten', 'pensioenaangroei', 'academisch', 'bouw', 'zvw', 'sessie', 'berichten', 'berichten', 'nabestaandenpensioen', 'mijnabp', 'diensttijd', 'samenstellen', 'berichten', 'of', 'diensttijd', 'samenstellen', 'diensttijd', 'berichten', 'diensttijd', 'inzicht', 'diensttijd', 'diensttijd', 'berichten', 'berichten', 'pensioenaangroei', 'berichten', 'diensttijd', 'berichten', 'service', 'diensttijd', 'berichten', 'sessie', 'samenstellen', 'academisch', 'diensttijd', 'inzicht', 'berichten', 'diensttijd', 'diensttijd', 'berichten', 'berichten', 'berichten', 'partner', 'diensttijd', 'ineens', 'academisch']

In [28]:
unique = set()
for word in meaning_words:
    unique.add(word)
    
print(len(meaning_words), len(unique))

99740 363

In [29]:
df['meaning_words'] = meaning_words

In [30]:
df

,visit_id,meaning_vectors,meaning_words
0,33888[1],"[-2.8568043961120506, -1.0411711915039288, 1.0...",berichten
1,445844[2],"[-0.37217951978468866, -0.6032857196871719, -0...",samenstellen
2,39476[1],"[0.8520023563924629, -0.74428102453283, -0.308...",diensttijd
3,671874[9],"[0.13135490096017363, -0.8527024690877495, -0....",meer
4,381389[1],"[-0.18643798272444848, -1.4383675231123787, -0...",berichten
...,...,...,...
99735,675581[16],"[-0.808745111753831, -1.0339257878640125, -0.3...",berichten
99736,26049[1],"[-0.49259110292462266, -1.332196389035972, -0....",berichten
99737,625944[1],"[-0.41092000328722017, -0.5800180383061275, -0...",samenstellen
99738,533016[22],"[-0.29364888932315314, -1.6183073339440335, -0...",eerder
99739,665782[1],"[-3.329542398452759, -1.0657744407653809, 1.58...",berichten

In [31]:
df['meaning_words'].value_counts()

berichten           26021
diensttijd          16483
pensioenaangroei     8763
academisch           7086
samenstellen         6384
                    ...
sectormanagers          1
werknemerspremie        1
fnv                     1
staan                   1
oudste                  1
Name: meaning_words, Length: 363, dtype: int64

In [33]:
type(df['meaning_vectors'])

pandas.core.series.Series

In [34]:
df

,visit_id,meaning_vectors,meaning_words
0,33888[1],"[-2.8568043961120506, -1.0411711915039288, 1.0...",berichten
1,445844[2],"[-0.37217951978468866, -0.6032857196871719, -0...",samenstellen
2,39476[1],"[0.8520023563924629, -0.74428102453283, -0.308...",diensttijd
3,671874[9],"[0.13135490096017363, -0.8527024690877495, -0....",meer
4,381389[1],"[-0.18643798272444848, -1.4383675231123787, -0...",berichten
...,...,...,...
99735,675581[16],"[-0.808745111753831, -1.0339257878640125, -0.3...",berichten
99736,26049[1],"[-0.49259110292462266, -1.332196389035972, -0....",berichten
99737,625944[1],"[-0.41092000328722017, -0.5800180383061275, -0...",samenstellen
99738,533016[22],"[-0.29364888932315314, -1.6183073339440335, -0...",eerder
99739,665782[1],"[-3.329542398452759, -1.0657744407653809, 1.58...",berichten

In [35]:
df.to_csv('C:/Users/01din\Desktop\data APG\meaning/visit_meanings.csv', index=False)