In [2]:
# Imports
import pandas as pd
import numpy as np

In [3]:
# Load the data
dataFrameFile1 = pd.read_csv('DATA/file1.csv')
print("File 1 done!")
dataFrameFile2 = pd.read_csv('DATA/file2.csv')
print("File 2 done!")
dataFrameFile3 = pd.read_csv('DATA/file3.csv')
print("File 3 done!")
dataFrameFile4 = pd.read_csv('DATA/file4.csv')
print("File 4 done!")
dataFrameFile5 = pd.read_csv('DATA/file5.csv')
print("File 5 done!")
dataFrameFile6 = pd.read_csv('DATA/file6.csv')
print("File 6 done!")
dataFrameFile7 = pd.read_csv('DATA/file7.csv')
print("File 7 done!")
dataFrameFile8 = pd.read_csv('DATA/file8.csv')
print("File 8 done!")
dataFrameFile9 = pd.read_csv('DATA/file9.csv')
print("File 9 done!")
dataFrameFile10 = pd.read_csv('DATA/file10.csv')
print("File 10 done!")
dataFrameFile11 = pd.read_csv('DATA/file11.csv')
print("File 11 done!")
dataFrameFile12 = pd.read_csv('DATA/file12.csv')
print("File 12 done!")
dataFrameFile13 = pd.read_csv('DATA/file13.csv')
print("File 13 done!")
dataFrameFile14 = pd.read_csv('DATA/file14.csv')
print("File 14 done!")
dataFrameFile15 = pd.read_csv('DATA/file15.csv')
print("File 15 done!")
dataFrameFile16 = pd.read_csv('DATA/file16.csv')
print("File 16 done!")
dataFrameFile17 = pd.read_csv('DATA/file17.csv')
print("File 17 done!")
dataFrameFile18 = pd.read_csv('DATA/file18.csv')
print("File 18 done!")

File 1 done!
File 2 done!
File 3 done!
File 4 done!
File 5 done!
File 6 done!
File 7 done!
File 8 done!
File 9 done!
File 10 done!
File 11 done!
File 12 done!
File 13 done!
File 14 done!
File 15 done!
File 16 done!
File 17 done!
File 18 done!

In [4]:
fullDataFrameABPData = dataFrameFile1.append(dataFrameFile2, ignore_index=True)
print('File 2 appended!')
fullDataFrameABPData = fullDataFrameABPData.append(dataFrameFile3, ignore_index=True)
print('File 3 appended!')
fullDataFrameABPData = fullDataFrameABPData.append(dataFrameFile4, ignore_index=True)
print('File 4 appended!')
fullDataFrameABPData = fullDataFrameABPData.append(dataFrameFile5, ignore_index=True)
print('File 5 appended!')
fullDataFrameABPData = fullDataFrameABPData.append(dataFrameFile6, ignore_index=True)
print('File 6 appended!')
fullDataFrameABPData = fullDataFrameABPData.append(dataFrameFile7, ignore_index=True)
print('File 7 appended!')
fullDataFrameABPData = fullDataFrameABPData.append(dataFrameFile8, ignore_index=True)
print('File 8 appended!')
fullDataFrameABPData = fullDataFrameABPData.append(dataFrameFile9, ignore_index=True)
print('File 9 appended!')
fullDataFrameABPData = fullDataFrameABPData.append(dataFrameFile10, ignore_index=True)
print('File 10 appended!')
fullDataFrameABPData = fullDataFrameABPData.append(dataFrameFile11, ignore_index=True)
print('File 11 appended!')
fullDataFrameABPData = fullDataFrameABPData.append(dataFrameFile12, ignore_index=True)
print('File 12 appended!')
fullDataFrameABPData = fullDataFrameABPData.append(dataFrameFile13, ignore_index=True)
print('File 13 appended!')
fullDataFrameABPData = fullDataFrameABPData.append(dataFrameFile14, ignore_index=True)
print('File 14 appended!')
fullDataFrameABPData = fullDataFrameABPData.append(dataFrameFile15, ignore_index=True)
print('File 15 appended!')
fullDataFrameABPData = fullDataFrameABPData.append(dataFrameFile16, ignore_index=True)
print('File 16 appended!')
fullDataFrameABPData = fullDataFrameABPData.append(dataFrameFile17, ignore_index=True)
print('File 17 appended!')
fullDataFrameABPData = fullDataFrameABPData.append(dataFrameFile18, ignore_index=True)
print('File 18 appended - done!')

File 2 appended!
File 3 appended!
File 4 appended!
File 5 appended!
File 6 appended!
File 7 appended!
File 8 appended!
File 9 appended!
File 10 appended!
File 11 appended!
File 12 appended!
File 13 appended!
File 14 appended!
File 15 appended!
File 16 appended!
File 17 appended!
File 18 appended - done!

,event_src_site,visitor_id,visit_number,visits,page_url_id,start_number,personalisation,seconds_spent,page_views,visit_number_in_session,has_been_in_mijn_omgeving,is_mijn_omgeving_url,landed_in_mijnomgeving
0,abp,00000164040540958943749471359763654058,1,1,188.0,1644099614035,0,2,1,1,1,0,0
1,abp,00000164040540958943749471359763654058,1,0,188.0,1644099615293,0,2,1,2,1,0,0
2,mijnabp,00000164040540958943749471359763654058,1,1,1557.0,1644099617575,0,1,1,3,1,1,0
3,mijnabp,00000164040540958943749471359763654058,1,0,1557.0,1644099618885,0,16,1,4,1,1,0
4,mijnabp,00000164040540958943749471359763654058,1,1,3.0,1644099635112,0,0,1,5,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
130499995,mijnabp,71600188776876743421478059304445455026,7,1,115.0,1657480860665,1,9,1,38,1,1,1
130499996,mijnabp,71600188776876743421478059304445455026,7,1,115.0,1657480860658,1,0,1,39,1,1,1
130499997,mijnabp,71600188776876743421478059304445455026,7,1,115.0,1657480869395,1,0,1,40,1,1,1
130499998,mijnabp,71600188776876743421478059304445455026,7,1,115.0,1657480869402,1,57,1,41,1,1,1
130499999,mijnabp,71600188776876743421478059304445455026,7,1,115.0,1657480925970,1,0,1,42,1,1,1

In [11]:
fullDataFrameABPData['page_url_id'] = fullDataFrameABPData['page_url_id'].apply(pd.to_numeric).astype('Int64')

In [26]:
fullDataFrameABPData['page_url_id'].fillna(1556, inplace=True)
fullDataFrameABPData.loc[fullDataFrameABPData['page_url_id'] == 1556, 'page_url_id'].count()

3017759

In [27]:
fullDataFrameABPData

,event_src_site,visitor_id,visit_number,visits,page_url_id,start_number,personalisation,seconds_spent,page_views,visit_number_in_session,has_been_in_mijn_omgeving,is_mijn_omgeving_url,landed_in_mijnomgeving
0,abp,00000164040540958943749471359763654058,1,1,188,1644099614035,0,2,1,1,1,0,0
1,abp,00000164040540958943749471359763654058,1,0,188,1644099615293,0,2,1,2,1,0,0
2,mijnabp,00000164040540958943749471359763654058,1,1,1557,1644099617575,0,1,1,3,1,1,0
3,mijnabp,00000164040540958943749471359763654058,1,0,1557,1644099618885,0,16,1,4,1,1,0
4,mijnabp,00000164040540958943749471359763654058,1,1,3,1644099635112,0,0,1,5,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
130499995,mijnabp,71600188776876743421478059304445455026,7,1,115,1657480860665,1,9,1,38,1,1,1
130499996,mijnabp,71600188776876743421478059304445455026,7,1,115,1657480860658,1,0,1,39,1,1,1
130499997,mijnabp,71600188776876743421478059304445455026,7,1,115,1657480869395,1,0,1,40,1,1,1
130499998,mijnabp,71600188776876743421478059304445455026,7,1,115,1657480869402,1,57,1,41,1,1,1
130499999,mijnabp,71600188776876743421478059304445455026,7,1,115,1657480925970,1,0,1,42,1,1,1

In [28]:
fullDataFrameABPData.to_csv('DATA/allDataOneFile.csv')