In [5]:
import pandas as pd
from matplotlib import pyplot as plt
import time

In [6]:
start = time.time()
df = pd.read_csv('C:/Users/01din/Desktop/data APG/data/data_clean/DataCleaned/Data/allDataOneFile.csv')
end = time.time()
print("Loading took " + str(end - start) + " seconds.")

Loading took 163.39844369888306 seconds.

In [7]:
df.head(1000)

,event_src_site_id,visitor_id,visit_number,visits,page_url_id,start_number,personalisation,seconds_spent,page_views,visit_number_in_session,has_been_in_mijn_omgeving,is_mijn_omgeving_url,landed_in_mijnomgeving
0,0,0,1,1,188,1644099614035,0,2,1,1,1,0,0
1,0,0,1,0,188,1644099615293,0,2,1,2,1,0,0
2,1,0,1,1,1557,1644099617575,0,1,1,3,1,1,0
3,1,0,1,0,1557,1644099618885,0,16,1,4,1,1,0
4,1,0,1,1,3,1644099635112,0,0,1,5,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,1,36,2,1,1,1641647061242,1,0,1,21,0,1,0
996,1,36,2,1,1,1641647061299,1,6,1,22,0,1,0
997,1,36,2,0,1,1641647067156,1,1,1,23,0,1,0
998,0,36,2,1,1556,1641647068558,0,23,1,24,0,0,0
999,0,36,2,0,1556,1641647091145,0,2,1,25,0,0,0

In [8]:
df.visit_number.value_counts()

1       67267983
2       16270297
3        8849446
4        5685136
5        4125331
          ...
5604           1
5603           1
5601           1
5600           1
2278           1
Name: visit_number, Length: 3004, dtype: int64

In [9]:
df.loc[df['visit_number'] == 6594]

,event_src_site_id,visitor_id,visit_number,visits,page_url_id,start_number,personalisation,seconds_spent,page_views,visit_number_in_session,has_been_in_mijn_omgeving,is_mijn_omgeving_url,landed_in_mijnomgeving
2823849,0,69264,6594,1,1556,1638612774127,0,382,1,336,1,0,0
2823850,0,69264,6594,1,1556,1638613156769,0,550,1,337,1,0,0
2823851,0,69264,6594,1,1556,1638613705845,0,0,1,338,1,0,0

In [10]:
df.seconds_spent.value_counts()

0       59331530
1       15044361
2        9109669
3        5581689
4        3907317
          ...
1724         120
1715         119
1739         119
1672         119
1723         113
Name: seconds_spent, Length: 1801, dtype: int64

In [11]:
min(df.start_number)

1635395309848