In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('C:/Users/01din/Desktop/data APG/data/data_clean/DataCleaned/Data/allDataOneFile.csv')
ids_to_replace = pd.read_csv('C:/Users/01din\Desktop\data APG/references/references_for_shortened_data/references/url_ids_to_replace.csv')

In [4]:
ids_to_replace.rename(columns={'page_url' : 'page_url_id'})

           page_url_id
0                  188
1                  188
2                 1557
3                 1557
4                    3
...                ...
130499995         1559
130499996         1559
130499997         1559
130499998         1559
130499999         1559

[130500000 rows x 1 columns]

In [5]:
df['page_url_id'] = ids_to_replace['page_url']
df.tail(100)

,event_src_site_id,visitor_id,visit_number,visits,page_url_id,start_number,personalisation,seconds_spent,page_views,visit_number_in_session,has_been_in_mijn_omgeving,is_mijn_omgeving_url,landed_in_mijnomgeving
130499900,1,3225293,12,0,1557,1642236213531,0,104,1,2,1,1,1
130499901,1,3225293,12,1,3,1642236317549,0,10,1,3,0,1,1
130499902,1,3225293,12,1,3,1642236317552,0,0,1,4,0,1,1
130499903,1,3225293,12,1,3,1642236317545,0,0,1,5,0,1,1
130499904,1,3225293,12,1,3,1642236317550,0,0,1,6,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
130499995,1,3225294,7,1,1559,1657480860665,1,9,1,38,1,1,1
130499996,1,3225294,7,1,1559,1657480860658,1,0,1,39,1,1,1
130499997,1,3225294,7,1,1559,1657480869395,1,0,1,40,1,1,1
130499998,1,3225294,7,1,1559,1657480869402,1,57,1,41,1,1,1
130499999,1,3225294,7,1,1559,1657480925970,1,0,1,42,1,1,1

In [7]:
df.to_csv('C:/Users/01din/Desktop/data APG/data/data_clean/DataCleaned/Data/allDataOneFile.csv', index=False)