In [1]:
import pandas as pd
import numpy as np

In [179]:
url_references = pd.read_csv('DATA/url-reference_new.csv')
url_references

          id                                               urls
0          1                               https://mijn.abp.nl/
1          2                        https://mijn.abp.nl/welkom/
2          3                         https://mijn.abp.nl/welkom
3          4  https://mijn.abp.nl/plan-uw-pensioen/zelf-same...
4          5  https://mijn.abp.nl/plan-uw-pensioen/zelf-same...
...      ...                                                ...
42044  42045  https://www.abp.nl/pensioen-bij-abp/waarde-pen...
42045  42046  https://www.abp.nl/?msclkid=400857e9d12c11ec8e...
42046  42047  https://www.abp.nl/%20nabestaandepensioen-verh...
42047  42048  https://www.abp.nl/over-abp/actueel/nieuws/bek...
42048  42049  https://www.abp.nl/over-abp/duurzaam-en-verant...

[42049 rows x 2 columns]

In [180]:
# Load the data
dataFrameFile = pd.read_csv('DATA/xar')
dataFrameFile #check data looks good

,event_src_site,visitor_id,visit_number,visits,page_name,page_url,start_number,start_date,user_id,personalisation,...,dwh_datum_vanaf,dwh_datum_tot,dwh_datum_aanmaak,dwh_datum_partitie,dwh_mog,dwh_scn,visit_number_in_session,has_been_in_mijn_omgeving,is_mijn_omgeving_url,landed_in_mijnomgeving
0,mijnabp,76937728190547372292381909370631146069,3,1,view.login.start,https://mijn.abp.nl/account/login?TAM_OP=login,1645633816783,2022-02-23 17:30:16,114659737.0,False,...,2022-02-24 04:07:31,9999-12-31 00:00:00,2022-02-24 04:07:31,NaN,MULTI,0,23,False,True,True
1,mijnabp,76937728190547372292381909370631146069,3,0,interactie.login.login-met-digid,https://mijn.abp.nl/account/login?TAM_OP=login,1645633821091,2022-02-23 17:30:21,114659737.0,False,...,2022-02-24 04:07:31,9999-12-31 00:00:00,2022-02-24 04:07:31,NaN,MULTI,0,24,False,True,True
2,mijnabp,76937728190547372292381909370631146069,3,1,view.alert.infomijnfonds-belastingwijziginggep...,https://mijn.abp.nl/uw-berichten,1645633834092,2022-02-23 17:30:34,114659737.0,False,...,2022-02-24 04:07:31,9999-12-31 00:00:00,2022-02-24 04:07:31,NaN,MULTI,0,25,False,True,True
3,mijnabp,76937728190547372292381909370631146069,3,1,view.alert.infomijnfonds-emailadrestelefoonbij...,https://mijn.abp.nl/uw-berichten,1645633834089,2022-02-23 17:30:34,114659737.0,False,...,2022-02-24 04:07:31,9999-12-31 00:00:00,2022-02-24 04:07:31,NaN,MULTI,0,26,False,True,True
4,mijnabp,76937728190547372292381909370631146069,3,1,view.contactdossier.contactdossier.start,https://mijn.abp.nl/uw-berichten,1645633834092,2022-02-23 17:30:34,114659737.0,False,...,2022-02-24 04:07:31,9999-12-31 00:00:00,2022-02-24 04:07:31,NaN,MULTI,0,27,False,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2707163,mijnabp,71600188776876743421478059304445455026,7,1,view.algemeen.Index.Start,https://mijn.abp.nl/account/meldingen/foutpagi...,1657480860665,2022-07-10 21:21:00,NaN,True,...,2022-07-11 04:19:45,9999-12-31 00:00:00,2022-07-11 04:19:45,NaN,MULTI,0,38,True,True,True
2707164,mijnabp,71600188776876743421478059304445455026,7,1,view.login.start,https://mijn.abp.nl/account/meldingen/foutpagi...,1657480860658,2022-07-10 21:21:00,NaN,True,...,2022-07-11 04:19:45,9999-12-31 00:00:00,2022-07-11 04:19:45,NaN,MULTI,0,39,True,True,True
2707165,mijnabp,71600188776876743421478059304445455026,7,1,view.login.start,https://mijn.abp.nl/account/meldingen/foutpagi...,1657480869395,2022-07-10 21:21:09,NaN,True,...,2022-07-11 04:19:45,9999-12-31 00:00:00,2022-07-11 04:19:45,NaN,MULTI,0,40,True,True,True
2707166,mijnabp,71600188776876743421478059304445455026,7,1,view.algemeen.Index.Start,https://mijn.abp.nl/account/meldingen/foutpagi...,1657480869402,2022-07-10 21:21:09,NaN,True,...,2022-07-11 04:19:45,9999-12-31 00:00:00,2022-07-11 04:19:45,NaN,MULTI,0,41,True,True,True
2707167,mijnabp,71600188776876743421478059304445455026,7,1,view.login.start,https://mijn.abp.nl/account/meldingen/foutpagi...,1657480925970,2022-07-10 21:22:05,NaN,True,...,2022-07-11 04:19:45,9999-12-31 00:00:00,2022-07-11 04:19:45,NaN,MULTI,0,42,True,True,True

In [181]:
# Remove unnecessary columns
dataFrameFile.drop(['user_id', 'dwh_datum_vanaf', 'dwh_datum_tot', 'dwh_datum_aanmaak', 'dwh_datum_partitie', 'start_date', 'dwh_mog',
             'dwh_scn', 'page_name'], axis=1, inplace=True)
dataFrameFile #check data looks good

,event_src_site,visitor_id,visit_number,visits,page_url,start_number,personalisation,seconds_spent,page_views,visit_number_in_session,has_been_in_mijn_omgeving,is_mijn_omgeving_url,landed_in_mijnomgeving
0,mijnabp,76937728190547372292381909370631146069,3,1,https://mijn.abp.nl/account/login?TAM_OP=login,1645633816783,False,4,1,23,False,True,True
1,mijnabp,76937728190547372292381909370631146069,3,0,https://mijn.abp.nl/account/login?TAM_OP=login,1645633821091,False,13,1,24,False,True,True
2,mijnabp,76937728190547372292381909370631146069,3,1,https://mijn.abp.nl/uw-berichten,1645633834092,False,28,1,25,False,True,True
3,mijnabp,76937728190547372292381909370631146069,3,1,https://mijn.abp.nl/uw-berichten,1645633834089,False,0,1,26,False,True,True
4,mijnabp,76937728190547372292381909370631146069,3,1,https://mijn.abp.nl/uw-berichten,1645633834092,False,0,1,27,False,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2707163,mijnabp,71600188776876743421478059304445455026,7,1,https://mijn.abp.nl/account/meldingen/foutpagi...,1657480860665,True,9,1,38,True,True,True
2707164,mijnabp,71600188776876743421478059304445455026,7,1,https://mijn.abp.nl/account/meldingen/foutpagi...,1657480860658,True,0,1,39,True,True,True
2707165,mijnabp,71600188776876743421478059304445455026,7,1,https://mijn.abp.nl/account/meldingen/foutpagi...,1657480869395,True,0,1,40,True,True,True
2707166,mijnabp,71600188776876743421478059304445455026,7,1,https://mijn.abp.nl/account/meldingen/foutpagi...,1657480869402,True,57,1,41,True,True,True
2707167,mijnabp,71600188776876743421478059304445455026,7,1,https://mijn.abp.nl/account/meldingen/foutpagi...,1657480925970,True,0,1,42,True,True,True

In [182]:
# Add all unique URL's to the reference file

# Take Unique urls in original dataframe
urls_in_dataset = dataFrameFile['page_url'].unique()
# For each unique url
for url in urls_in_dataset:
    # If it is a logout page, do not check
    if 'uitgelogd' not in url:
        # Check if the url is in the Url-refernce file, if not, add it together with id
        if url not in url_references.urls.values:
            url_references = pd.concat([url_references, pd.DataFrame([[url_references.id.iloc[-1]+1, url]], columns=['id', 'urls'], index=[url_references.id.iloc[-1]])])
            
url_references

          id                                               urls
0          1                               https://mijn.abp.nl/
1          2                        https://mijn.abp.nl/welkom/
2          3                         https://mijn.abp.nl/welkom
3          4  https://mijn.abp.nl/plan-uw-pensioen/zelf-same...
4          5  https://mijn.abp.nl/plan-uw-pensioen/zelf-same...
...      ...                                                ...
42735  42736  https://www.abp.nl/plan-uw-pensioen/pensioen-a...
42736  42737  https://www.abp.nl/werken/meer-minder/pensioen...
42737  42738  https://www.abp.nl/pensioen-bij-abp/pensioenge...
42738  42739  https://mijn.abp.nl/account/login?ReturnUrl=%2...
42739  42740  https://www.abp.nl/applicaties/permissies/dire...

[42740 rows x 2 columns]

In [183]:
# Save new url file to csv
url_references.to_csv('DATA/url-reference_new.csv', index=False)

In [184]:
# Replace all URL's with their id in the dataframe

#Create dictionary where each unique url is a key and its ID is the value
map_urls = dict(zip(url_references.urls, url_references.id))
#Map urls to ids
dataFrameFile.page_url = dataFrameFile.page_url.map(map_urls)

# Rename column to 'page_url_id'
dataFrameFile.rename(columns={'page_url': 'page_url_id'}, inplace=True)
# Convert column to int
dataFrameFile['page_url_id'] = dataFrameFile['page_url_id'].apply(pd.to_numeric).astype('Int64')

dataFrameFile #check data looks good

,event_src_site,visitor_id,visit_number,visits,page_url_id,start_number,personalisation,seconds_spent,page_views,visit_number_in_session,has_been_in_mijn_omgeving,is_mijn_omgeving_url,landed_in_mijnomgeving
0,mijnabp,76937728190547372292381909370631146069,3,1,1557,1645633816783,False,4,1,23,False,True,True
1,mijnabp,76937728190547372292381909370631146069,3,0,1557,1645633821091,False,13,1,24,False,True,True
2,mijnabp,76937728190547372292381909370631146069,3,1,13,1645633834092,False,28,1,25,False,True,True
3,mijnabp,76937728190547372292381909370631146069,3,1,13,1645633834089,False,0,1,26,False,True,True
4,mijnabp,76937728190547372292381909370631146069,3,1,13,1645633834092,False,0,1,27,False,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2707163,mijnabp,71600188776876743421478059304445455026,7,1,115,1657480860665,True,9,1,38,True,True,True
2707164,mijnabp,71600188776876743421478059304445455026,7,1,115,1657480860658,True,0,1,39,True,True,True
2707165,mijnabp,71600188776876743421478059304445455026,7,1,115,1657480869395,True,0,1,40,True,True,True
2707166,mijnabp,71600188776876743421478059304445455026,7,1,115,1657480869402,True,57,1,41,True,True,True
2707167,mijnabp,71600188776876743421478059304445455026,7,1,115,1657480925970,True,0,1,42,True,True,True

In [185]:
# Replace all True / False values with 1 / 0
dataFrameFile['personalisation'] = dataFrameFile['personalisation'].astype(int)
dataFrameFile['has_been_in_mijn_omgeving'] = dataFrameFile['has_been_in_mijn_omgeving'].astype(int)
dataFrameFile['is_mijn_omgeving_url'] = dataFrameFile['is_mijn_omgeving_url'].astype(int)
dataFrameFile['landed_in_mijnomgeving'] = dataFrameFile['landed_in_mijnomgeving'].astype(int)

dataFrameFile #check data looks good

,event_src_site,visitor_id,visit_number,visits,page_url_id,start_number,personalisation,seconds_spent,page_views,visit_number_in_session,has_been_in_mijn_omgeving,is_mijn_omgeving_url,landed_in_mijnomgeving
0,mijnabp,76937728190547372292381909370631146069,3,1,1557,1645633816783,0,4,1,23,0,1,1
1,mijnabp,76937728190547372292381909370631146069,3,0,1557,1645633821091,0,13,1,24,0,1,1
2,mijnabp,76937728190547372292381909370631146069,3,1,13,1645633834092,0,28,1,25,0,1,1
3,mijnabp,76937728190547372292381909370631146069,3,1,13,1645633834089,0,0,1,26,0,1,1
4,mijnabp,76937728190547372292381909370631146069,3,1,13,1645633834092,0,0,1,27,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2707163,mijnabp,71600188776876743421478059304445455026,7,1,115,1657480860665,1,9,1,38,1,1,1
2707164,mijnabp,71600188776876743421478059304445455026,7,1,115,1657480860658,1,0,1,39,1,1,1
2707165,mijnabp,71600188776876743421478059304445455026,7,1,115,1657480869395,1,0,1,40,1,1,1
2707166,mijnabp,71600188776876743421478059304445455026,7,1,115,1657480869402,1,57,1,41,1,1,1
2707167,mijnabp,71600188776876743421478059304445455026,7,1,115,1657480925970,1,0,1,42,1,1,1

In [186]:
# Save file back to folder as csv
dataFrameFile.to_csv('DATA/file18.csv', index=False)